<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank of Banksville</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- TODO: Styling for login page, backend logic, authentication -->
    <!-- TODO: Accounts view, banking logic -->
    <div>
        <form method="POST" action="/login">
            <label for="user-name-in">Username:</label>
            <input type="text" id="user-name-in">
            <label for="user-pass-in">Password:</label>
            <input type="password" id="user-pass-in">
            <button type="submit">Login</button>
        </form>
        <a href="/create-user">Don't have an account?</a>
    </div>
</body>
</html>