<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank of Banksville</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
</head>
<body>
    <!-- TODO: Backend logic, authentication -->
    <!-- TODO: Accounts view, banking logic -->
    <!-- TODO: Login sessions -->
    <!-- TODO: Content security policy headers -->
    <div class="container">
        <div class="row">
            <div class="text-center col">
                <h1>The Bank of Banksville</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <h3 class="text-muted">The best bank to do your banking with.</h2>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <div class="jumbotron">
                    <h4>Customer Login</h4>
                    <form id="login-form" method="POST" action="/login">
                        <div class="form-group">
                            <label for="user-name-in">Username:</label>
                            <input type="text" class="form-control" id="user-name-in" name="username">
                        </div>
                        <div class="form-group">
                            <label for="user-pass-in">Password:</label>
                            <input type="password" class="form-control" id="user-pass-in" name="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                    <a href="/new-user">Don't have an account?</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>