<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank of Banksville</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico?v=1.0" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <script src="/static/js/xmlFormHandler.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="text-center col">
                <h1>The Bank of Banksville</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <h3 class="text-muted">The best bank to do your banking with.</h2>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <div class="jumbotron">
                    <h4>New Customer</h4>
                    <form id="login-form" method="POST" action="/login">
                        <div class="container">
                            <div class="form-group row">
                                <label for="first-name-in" class="col-sm-2">First Name:</label>
                                <input type="text" placeholder="Joe" class="form-control col-sm-10" id="first-name-in" name="first_name" required>
                            </div>
                            <div class="form-group row">
                                <label for="last-name-in" class="col-sm-2">Last Name:</label>
                                <input type="text" placeholder="Smith" class="form-control col-sm-10" id="last-name-in" name="last_name" required>
                            </div>
                            <div class="form-group row">
                                <label for="street-in" class="col-sm-2">Street Address:</label>
                                <input type="text" placeholder="1234 Main St." class="form-control col-sm-10" id="street-in" name="street" required>
                            </div>
                            <div class="form-group row">
                                <label for="city-in" class="col-sm-2">City:</label>
                                <input type="text" placeholder="Townsville" class="form-control col-sm-10" id="city-in" name="city" required>
                            </div>
                            <div class="form-group row">
                                <label for="state-in" class="col-sm-2">State:</label>
                                <input type="text" placeholder="California" class="form-control col-sm-10" id="state-in" name="country_state" required>
                            </div>
                            <div class="form-group row">
                                <label for="country-in" class="col-sm-2">Country:</label>
                                <input type="text" placeholder="United States" class="form-control col-sm-10" id="country-in" name="country" required>
                            </div>
                            <div class="form-group row">
                                <label for="user-name-in" class="col-sm-2">Username:</label>
                                <input type="text" placeholder="Joe95" class="form-control col-sm-10" id="user-name-in" name="username" required>
                            </div>
                            <div class="form-group row">
                                <label for="user-pass-in" class="col-sm-2">Password:</label>
                                <input type="password" class="form-control col-sm-10" id="user-pass-in" name="password" required>
                            </div>
                            <div class="row justify-content-center">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>